<a href="https://colab.research.google.com/github/VilmaTar/pre-corse/blob/pre-course/%E2%80%9Eloading_a_dataset_from_remote6_ipynb%E2%80%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nauja skiltis

In [3]:
# List contents in the current working directory
! ls

# Navigate into the `data` sub-directory
%cd nbaallelo

# List contents of `data`
! ls

# Print new working directory
! pwd

sample_data
[Errno 2] No such file or directory: 'nbaallelo'
/content
sample_data
/content

In [28]:
import pandas as pd
df1 = pd.read_csv('/content/drive/MyDrive/First commit of demo notebook/nbaallelo.csv')
df1

        gameorder       game_id lg_id  ...  game_result  forecast notes
0               1  194611010TRH   NBA  ...            L  0.640065   NaN
1               1  194611010TRH   NBA  ...            W  0.359935   NaN
2               2  194611020CHS   NBA  ...            W  0.631101   NaN
3               2  194611020CHS   NBA  ...            L  0.368899   NaN
4               3  194611020DTF   NBA  ...            L  0.640065   NaN
...           ...           ...   ...  ...          ...       ...   ...
126309      63155  201506110CLE   NBA  ...            L  0.546572   NaN
126310      63156  201506140GSW   NBA  ...            W  0.765565   NaN
126311      63156  201506140GSW   NBA  ...            L  0.234435   NaN
126312      63157  201506170CLE   NBA  ...            L  0.481450   NaN
126313      63157  201506170CLE   NBA  ...            W  0.518550   NaN

[126314 rows x 23 columns]

In [29]:
!wget https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv - 0 nbaaellelo.csv

--2021-07-31 08:35:03--  https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18173265 (17M) [text/plain]
Saving to: ‘nbaallelo.csv.1’

nbaallelo.csv.1     100%[===================>]  17.33M  --.-KB/s    in 0.1s

2021-07-31 08:35:03 (147 MB/s) - ‘nbaallelo.csv.1’ saved [18173265/18173265]

--2021-07-31 08:35:03--  http://-/
Resolving - (-)... failed: Name or service not known.
wget: unable to resolve host address ‘-’
--2021-07-31 08:35:03--  http://0/
Resolving 0 (0)... 0.0.0.0
Connecting to 0 (0)|0.0.0.0|:80... failed: Connection refused.
--2021-07-31 08:35:03--  http://nbaaellelo.csv/
Resolving nbaaellelo.csv (nbaaellelo.csv)... failed: Name or service not known.
wget: unable to resolve host address ‘nbaaellelo.csv’
FINISHED --2021-07-31 08:35:03--
Total wall clock time: 0.3s
Downloaded: 1 files, 17M in 0.1s (147 MB/s)